body {
  background-color: #181515;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  background: #0a0a0a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.cute-image {
  width: 250px;
  height: auto;
  border-radius: 15px;
  border: 5px solid #440597;
}

.text-box {
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #660add;
}

p {
  font-family: "Playwrite IT Moderna", cursive;
  color: #7159c1;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 15px;
  }

  .cute-image {
    width: 80%;
  }

  .text-box {
    max-width: 100%;
  }
}